    ul {
        list-style-type: none;
        padding: 0;
        overflow:hidden;
        background-color: black;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        padding:200px;
        color:orangered;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: bisque;
      }
